@page "/email"

<PageTitle>Email</PageTitle>

<h1>Email</h1>

<button @onclick="SendEmail">Send E-mail</button>

@code {
    EmailService mailService = new EmailService();

    var info = new Dictionary<string string>;

    private void SendEmail()
    {
        
    }

}