#responsive-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

@media (max-width: 868px) {
    #responsive-layout {
        flex-direction: column;
    }
}

#search-results {
    height: 100vh;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}