#responsive-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

@media (max-width: 868px) {
    #responsive-layout {
        flex-direction: column;
    }
}

#search-results {
    height: calc(100vh - 58px);
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}