td{
    padding: 5px;
    text-align: left;
    color: var(--secondary-text-color);
}
.title{
    text-transform: capitalize;
    font-weight: bold;
}

tbody tr:hover{
    background-color: var(--text-field-background-color);
}

.pill {
    font-family: "Regular", sans-serif;
    font-size: 10px;
    font-weight: 450;
    
    padding-inline: 7px;
    padding-block: 3px;
    border-radius: 5px;

    background-color: var(--border-color);
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.pill.available {
    background-color: var(--success-background-color);
    color: var(--success-text-color);
}

.pill.unavailable {
    background-color: var(--danger-background-color);
    color: var(--danger-text-color);
}

.action-btn{
    font-family: "Regular", sans-serif;
    font-size: 10px;

    padding-inline: 7px;
    padding-block: 3px;
    border-radius: 5px;

    background-color: var(--border-color);
    color: var(--secondary-text-color);
    text-transform: uppercase;
    
    width: 19.5px;
    height: 19.5px;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.action-icon{
    height: 15px;
    width: 15px;
    transform: translate( -30%, -5%);
}
.details-content{
    display: flex;
    flex-direction: row;
}
.details-section{
    width: 100%;
    padding-left: 20px;
}