@page "/Login"
<h3>Login</h3>

<div>
    <div>
        <h3>Login</h3>
    </div>
    <div>
        <EditForm>
            <DataAnnotationsValidator/>
            <input type="text" placeholder="e-mail"/>
            <input type="password" placeholder="password"/>
            <a>Forgot Password?</a>
            <button type="submit">Log in</button>
        </EditForm>
    </div>
</div>

@code {
    
}