@page "/ManageStaff"
@inject HttpClient HttpClient
@inject IAuthService AuthState
@attribute [Authorize(Policy = Policies.CanViewUsers)]

<PageTitle>Staff Management</PageTitle>

<div id="responsive-layout">
    <StaffSearchForm BranchList="@StaffData.BranchesList" OnSubmitCallback="MakeSearch"/>
    <div class="results-container">
        <table class="results-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Role</th>
                <th>Branches</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in StaffData.StaffList)
            {
                <StaffResultList user="@user" branchList="@StaffData.BranchesList"/>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private PayLoads.StaffData StaffData = new()
    {
        StaffList = new(),
        BranchesList = new()
    };

    private (int, int) _pagination = (1, 20);
    private string? _jwtToken;

    protected override async Task OnInitializedAsync()
    {
        _jwtToken = await AuthState.GetBearerToken();
        await GetStaff();
    }

    private async Task MakeSearch(List<Filter> filters)
    {
        StaffData.StaffList.Clear();
        await GetStaffSearchResults(filters);
    }

    private async Task GetStaff()
    {
        HttpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", _jwtToken);
        var response = await HttpClient.GetFromJsonAsync<Response<PayLoads.StaffData>>($"api/usermanagement/staff?page={_pagination.Item1}&count={_pagination.Item2}");

        if (response?.Success == true && response.Data != null)
        {
            StaffData = response.Data;
        }
    }

    private async Task GetStaffSearchResults(List<Filter> filters)
    {
        HttpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", _jwtToken);
        var response = await HttpClient.PostAsJsonAsync(
            $"api/usermanagement/staff/search?page={_pagination.Item1}&count={_pagination.Item2}", filters);

        if (response.IsSuccessStatusCode)
        {
            var searchResponse = await response.Content.ReadFromJsonAsync<Response<List<Entities.Staff>>>();
            if (searchResponse?.Success == true && searchResponse.Data != null)
            {
                StaffData.StaffList = searchResponse.Data;
            }
        }
        StateHasChanged();
    }
}