* {
    user-select: none;
    font-family: "Regular", sans-serif;
}

#sidebar {
    width: 350px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 30px;
    transition: all 0.3s ease;
    
    border-right: 1px solid var(--border-color);
}

.label-input-pair {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-input-pair label {
    font-weight: 700;
    font-size: 10px;
    text-transform: capitalize;
    color: var(--text-color);
}

.tag-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tag-lists {
    display: flex;
    flex-direction: row;
    gap: 7px;
    flex-wrap: wrap;
}

.tag-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-group-divider:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--pill-background-color);
    margin-bottom: 5px;
}

.tag-hover {
    transition: transform 0.3s ease;
}

.tag-hover:hover {
    transform: translateY(-2px);
}

.tag-suggestion {
    font-family: "Regular", sans-serif;
    font-size: 12px;

    margin: 0;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;

    background: var(--pill-background-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    max-width: 100px;

    opacity: 0;
    filter: blur(10px);
}

.tag-suggestion.fade-in {
    animation: tag-fade-in 0.2s ease-out forwards;
}

.tag-suggestion.fade-in:nth-child(1) {
    animation-delay: 0s;
}

.tag-suggestion.fade-in:nth-child(2) {
    animation-delay: 0.05s;
}

.tag-suggestion.fade-in:nth-child(3) {
    animation-delay: 0.1s;
}

.tag-suggestion.fade-in:nth-child(4) {
    animation-delay: 0.15s;
}

.tag-suggestion.fade-in:nth-child(5) {
    animation-delay: 0.2s;
}

.selected-tag {
    font-family: "Regular", sans-serif;
    font-size: 12px;


    margin: 0;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;

    background: var(--pill-background-color);
    color: var(--background-color);
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    text-transform: uppercase;
    max-width: 80px;
}


.text-field {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    align-items: center;
    justify-content: flex-start;

    background-color: var(--text-field-background-color);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
    outline: none;

    padding-inline: 12px;
    padding-block: 7px;

    width: 100%;
    font-size: 14px;
    color: var(--text-color);
}
.text-field:hover {
    border-color: var(--pill-background-color);
    transition: border-color 0.3s ease-in-out;
    outline: none;
}

.text-field::placeholder {
    color: var(--pill-background-color);
    transition: opacity 0.5s ease;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-btn {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.search-button {
    max-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: "Regular", sans-serif;
    padding-inline: 14px;
    padding-block: 9px;

    width: 100%;
    font-size: 14px;

    border-radius: 5px;
    background-color: var(--secondary-text-color);
    color: var(--background-color);
    border: none;
    outline: none;
    user-select: none;
    text-align: left;
}
.search-button:hover {
    background-color: var(--button-primary-hover-color);
    transition: background-color 0.3s ease;
}

@keyframes tag-fade-in {
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@media (max-width: 868px) {
    #sidebar {
        width: 100%;
        margin-right: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: fixed;
        top: 58px;
        left: 0;
        z-index: 1000;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-right: none !important;
        border-bottom: 1px solid var(--border-color);
    }
    
    #sidebar .text-field{
        width: 300px;
    }

    #sidebar .search-container {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    
    #sidebar .search-button  {
        margin: 0;
        width: 75px;
        text-align: center;
    }

    #sidebar .tag-section {
        display: none;
    }
}

@media (max-width: 560px) {
    #sidebar {
        flex-wrap: wrap;
        padding: 15px;
        top: 0;
    }

    #sidebar .text-field {
        flex-grow: 1;
        margin: 0 5px;
    }

    #sidebar .tag-section {
        display: none;
    }
}