<div style="width: 21px; height: 21px; display: flex; justify-content: center; align-items: center;">
    <svg class="star" width="17.5" height="16.63" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M4.09687 17.25L5.51875 11.1031L0.75 6.96875L7.05 6.42188L9.5 0.625L11.95 6.42188L18.25 6.96875L13.4812 11.1031L14.9031 17.25L9.5 13.9906L4.09687 17.25Z"
            fill="@color"/>
    </svg>
</div>


@code {
    [Parameter] public bool colorValue { get; set; }
    public string color => GetColor();

    private string GetColor()
    {
        if (!colorValue)
        {
            return "#D6D3D1";
        }

        return "#44403C";
    }


}