*{
    font-family: "Regular", sans-serif;
}

#desktop-nav {
    background: #FAFAF9;
    width: 100vw;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    padding-block: 10px;
    border-bottom: 1px solid #e7e5e4;
}
.nav-left {
    display: flex;
}
.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    gap: 10px;
}
.button-primary {
    box-sizing: border-box;
    font-family: "Regular", sans-serif;
    padding-inline: 14px;
    padding-block: 9px;

    width: 100%;
    font-size: 14px;

    border-radius: 5px;
    background-color: #44403C;
    color: #FAFAF9;
    border: none;
    outline: none;
    user-select: none;
    text-align: left;
}
.button-primary:hover {
    background-color: #a8a29e;
    transition: 0.15s ease-in-out;

}

@media (max-width: 868px) {
    #desktop-nav {
        border: none !important;
    }
}
@media (max-width: 560px) {
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}