.unauthorized-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 20px;
    text-align: center;
}

.unauthorized-container h1 {
    color: var(--secondary-text-color);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.unauthorized-container h2 {
    color: var(--secondary-text-color);
    font-size: 24px;
    margin: 0;
}

.unauthorized-container p {
    color: var(--text-field-border-color);
    font-size: 16px;
    margin: 0;
}

.unauthorized-container .button-primary {
    box-sizing: border-box;
    font-family: "Regular", sans-serif;
    padding-inline: 14px;
    padding-block: 9px;
    width: fit-content;
    font-size: 14px;
    border-radius: 5px;
    background-color: var(--secondary-text-color);
    color: var(--background-color);
    border: none;
    outline: none;
    user-select: none;
    text-align: left;
    text-decoration: none;
}

.unauthorized-container .button-primary:hover {
    background-color: var(--button-primary-hover-color);
    transition: 0.15s ease-in-out;
}